@import 'bootstrap/dist/css/bootstrap.css';
@import 'primevue/resources/themes/lara-light-green/theme.css';
@import './dropdown.scss';
@import './input.scss';
@import './icons.scss';
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: GoogleSans;
    font-size: 14px;
    color: #212121;
    background: #FFFFFF;
    overflow: auto;
    line-height: unset;
}

@font-face {
    font-family: GoogleSans;
    src: url(../assets/fonts/GoogleSans-Regular.otf);
}

@font-face {
    font-family: GoogleSans-Thin;
    src: url(../assets/fonts/GoogleSans-Thin.otf);
}

.font-24 {
    font-size: 24px;
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url(../assets/fonts/GoogleSans-MediumItalic.otf);
}

.font-primeicons {
    font-family: 'primeicons' !important;
}

.font-primeicons .pi {
    font-family: 'primeicons' !important;
}

.p-component {
    font-family: GoogleSans !important;
    font-size: 14px !important;
}

.h-100vh{
    height: 100vh;
}

.ms-btn{
    min-height: 36px;
    height: 40px;
    min-width: 80px;
    line-height: 40px;
    border: none;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 4px;
    white-space: nowrap;
    align-items: center;
    justify-items: center;
    .text {
        display: inline-block;
        white-space: nowrap;
        padding: 0 16px;
        font-weight: 400;
        font-size: 14px;
    }
    &.primary{
        color: #fff;
        background: #127FFF;
    }
    &.orange{
        background: #FA8232;
    }
    &.light-pink{
        background: #FFE7D6;
    }
    &.white{
        background: #fff;
    }
    &.icon-only{
        min-width: 40px;
    }
    .icon-only{
        width: 24px;
        background-repeat: no-repeat;
        background-color: transparent;
        height: 24px;
    }
}

.pr-24{
    padding-right: 24px;
}

.h-40{
    min-height: 40px !important;
    height: 40px !important;
    max-height: 40px !important;
}

.pointer{
    cursor: pointer;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.fs-16{
    font-size: 16px;
}

.flex-1{
    flex: 1;
}

.fs-48{
    font-size: 48px;
}

.fs-32{
    font-size: 32px;
}

.p-16{
    padding: 16px;
}

.pb-24{
    padding-bottom: 24px;
}

.p-image img{
    max-width: 100%;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: #EBC80C;
}

.h-48{
    height: 48px;
}

.h-40{
    height: 40px;
}

.p-tooltip-arrow{
    left: 47% !important;
}

.p-tooltip-text {
    background: #182d4b !important;
    color: #fff !important;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 100;
    font-family: GoogleSans !important;
    padding: 6px !important;
    min-width: 40px;
    text-align: center;
    display: block;
}

.p-tag.hot{
    color: #fff;
    background: #EE5858;
}

.p-tag.sold-out {
    color: #fff;
    background: #929FA5;
}
.p-tag.sale {
    color: #191C1F;
    background: #EFD33D;
}

.p-tag.best-deal{
    color: #fff;
    background: #2DA5F3;
}

.p-tag.sale-text{
    color: #fff;
    background: #2DB224;
}

.p-tag{
    z-index: 2;
    border-radius: 2px;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 600;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    .p-tag-value{
        line-height: unset;
        text-transform: uppercase;
    }
}