$padding-base: 300px;

:root{
  --Primary-500: #FA8232;
  --Primary-200: #FFCEAD;
  --Primary-100: #FFE7D6;
  --Gray-900: #191C1F;
  --Gray-00: #FFF;
  --Gray-50: #F2F4F5;
  --Secondary-500: #2DA5F3;
}